.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.head {
  height: 30%;
  width: 100%;
  display: block;
  position: fixed;
  top: 0px;
  right:auto;
  left:auto;
  background-image: linear-gradient(to right, #282c34, #2d79c6);
}

.head h1 {
  font-family: palatino, cursive;
  font-size: 75px;
}

.body {
  min-height: 70%;
  top: 30%;
  width: 100%;
  display: block;
  position: fixed;
  right: auto;
  left: auto;
}

.App-link {
  color: #61dafb;
}

.query {
  font-size: 30px;
  width: 100%;
}

.my-icon {
  display: block;
  position: fixed;
  top: 20px;
  right: 25px;
  width: 15%;
  height: 15%
}

.my-icon-img {
  background: url('./icons/icon.svg');
  background-size: 100%;
  width: 190px;
  height: 190px;

  background-repeat: no-repeat;
}

.search {
  width: 100%;
  padding-top: 40px;
}

.search input {
  width: 80%;
}

.search-icon {
  position: fixed;
  left: 20px;
  top: 20px;
}

.search-icon a {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #61dafb;
  background-image: url('./icons/magnifier.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.home-icon {
  position: fixed;
  left: 20px;
  top: 20px;
}

.home-icon a {
  display: block;
  background: #61dafb;
  background-image: url('./icons/home.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.book {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  list-style: none;
}

.book-cover {
  width: 128px;
  height: 193px;
}

.title {
  font-weight: bold;
  font-size: 16px;
  margin: 5px;
  width: 170px;
  height: 10px;
}

.author {
  font-size: 14px;
  padding-top: 35px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
