.App {
  text-align: center;
}

.main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.head {
  height: 30%;
  width: 100%;
  display: block;
  position: fixed;
  z-index: 999;
  top: 0px;
  right:auto;
  left:auto;
  background-image: linear-gradient(to right, #282c34, #2d79c6);
}

.head h1 {
  font-family: palatino, cursive;
  font-size: 75px;
}

.body {
  display: block;
  position: absolute;
  overflow-y: scroll;
  background-color: #282c34;
  top: 30%;
  width: 100%;
  padding-top: 40px;
  right: auto;
  left: auto;
}

.query {
  font-size: 30px;
  width: 100%;
}

.my-icon {
  display: block;
  position: fixed;
  top: 20px;
  right: 25px;
}

.my-icon-img {
  background: url('./icons/icon.svg');
  background-size: 100%;
  width: 150px;
  height: 150px;

  background-repeat: no-repeat;
}



.search input {
  width: 80%;
}

.search-icon {
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 1000;
}

.search-icon a {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #61dafb;
  background-image: url('./icons/magnifier.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.home-icon {
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 1000;
}

.home-icon a {
  display: block;
  background: #61dafb;
  background-image: url('./icons/home.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.books {
  list-style-type: none;
  padding: 20px;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.book {
  width: 170px;
}

.book-cover {
  width: 128px;
  height: 193px;
  margin-left: 25px;
}

.title {
  font-weight: bold;
  font-size: 16px;
  margin: 5px;
  width: 170px;
  height: 10px;
}

.author {
  font-size: 14px;
  padding-top: 35px;
}
